<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<base href="{{ page.url }}">

<!-- 
  Short description of the document (limit to 150 characters)
  This content *may* be used as a part of search engine results. 
-->
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="google" content="nositelinkssearchbox">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<title>
    {% if title %}{{ title }} - {% endif %}{{ site.title }}
</title>

<link rel="author" href="humans.txt">
<link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#5bbad5">
<meta name="theme-color" content="#5bbad5">